In [ ]:
to access thru a row index
loc:works on label
iloc: integers label behind our given label
df1.loc['c']
df1.iloc[2]

In [ ]:
for picking up random values using fancy indexing
df1[['a','d']] or df1[[0, 4]]

In [ ]:
conditional accessing
df1["zip code"]>2
or
df1[df1["zip code"]>2]

In [5]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('data.csv')

In [ ]:
data.columns

In [ ]:
data[(data['Age']>50) & (data['Sex']=='female')]
data[(data['Age']>50) & (data['Sex']=='female')].count()

In [ ]:
data.describe()

In [ ]:
data[(data['Pclass']==3) & (data['Name']='Allen, Mr. William Henry')]
data["Ticket"][data["Name"]=="Alllen, Mr. William Henry"]

In [ ]:
data["Ticket"][data["Parch"]==1]

# Function application & mapping

In [4]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -0.270689  1.002274 -0.176964
Ohio   -0.057679 -0.320813  1.455320
Texas  -0.229164  1.083219 -0.798186
Oregon -1.162048 -0.014874  0.682240

In [5]:
np.abs(frame)

               b         d         e
Utah    0.270689  1.002274  0.176964
Ohio    0.057679  0.320813  1.455320
Texas   0.229164  1.083219  0.798186
Oregon  1.162048  0.014874  0.682240

In [6]:
frame.max()             #bring a max from each col

b   -0.057679
d    1.083219
e    1.455320
dtype: float64

In [13]:
frame.min()

b   -1.162048
d   -0.320813
e   -0.798186
dtype: float64

In [14]:
lamba function:
    called with a variable
    
    what is f? an unnamed function which gets x, x are values of frame.
    on x apply square which is asigned to f
    then apply f

SyntaxError: invalid syntax (<ipython-input-14-76ec393194c6>, line 1)

In [15]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    1.104368
d    1.404032
e    2.253506
dtype: float64

In [16]:
f = lambda x: x**2
frame.apply(f)

               b         d         e
Utah    0.073272  1.004553  0.031316
Ohio    0.003327  0.102921  2.117958
Texas   0.052516  1.173364  0.637101
Oregon  1.350355  0.000221  0.465452

In [17]:
# to find max min of a row

frame.max(axis=1)

Utah      1.002274
Ohio      1.455320
Texas     1.083219
Oregon    0.682240
dtype: float64

# Sorting and Ranking

In [18]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [20]:
obj.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [37]:
frame = pd.DataFrame(np.arange(12,0,-1).reshape((3, 4)), columns=['d', 'a', 'b', 'c'], index=['three', 'one', 'four'])
frame

        d   a   b  c
three  12  11  10  9
one     8   7   6  5
four    4   3   2  1

In [25]:
frame.sort_index(axis = 1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [39]:
frame.sort_values(by='c')    #sort as according to c

        d   a   b  c
four    4   3   2  1
one     8   7   6  5
three  12  11  10  9

In [40]:
frame.sort_values(by=['a', 'd'])

        d   a   b  c
four    4   3   2  1
one     8   7   6  5
three  12  11  10  9

In [42]:
data = pd.read_csv('data.csv')
data

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [48]:
data.sort_values(by='Best of Quizzes')

,Student Code,Degree,Student Name,Mid,Quiz 1,Quiz 2,Best of Quizzes,Assignment 1,Assignment 2,Best of Assignments,Total Sessional (50),Final (50),Total (100),Grade
15,022-14-19916,BS(CS),Haseeb Sajid,18,NaN,NaN,0,NaN,NaN,0,18,NaN,18,F
32,022-14-110035,BS(CS),Muhammad Wajahat Khan,9,NaN,2.0,2,8.0,10.0,10,21,8.0,29,F
33,022-14-19919,BS(CS),Muhammad Younus Baig,20,4.0,2.0,4,8.0,10.0,10,34,17.0,51,F
39,022-14-110107,BS(CS),Sania Iqbal,28,4.0,4.0,4,9.0,11.0,11,43,25.0,68,C
24,022-14-110215,BS(CS),Muhammad Bilal,28,5.0,4.0,5,9.0,11.0,11,44,33.0,77,B
18,022-14-110223,BS(CS),Madiha Jabeen,16,5.0,2.0,5,8.0,10.0,10,31,29.0,60,C
16,022-14-110596,BS(CS),Hassam Ahmed,23,5.0,5.0,5,7.0,9.0,9,37,35.0,72,B
23,022-14-19983,BS(CS),Muhammad Ali Iqbal,26,5.0,NaN,5,8.0,10.0,10,41,21.0,62,C
1,022-14-110233,BS(CS),Adeel Ahmed,17,NaN,5.0,5,8.0,10.0,10,32,18.0,50,F
2,022-14-110585,BS(CS),Afrah Zareen,18,5.0,2.0,5,8.0,10.0,10,33,30.0,63,C
26,022-14-110370,BS(CS),Muhammad Ghazali Faridi,27,6.0,NaN,6,6.0,8.0,8,41,24.0,65,C
6,022-14-110588,BS(CS),Anas Ali Khan,28,5.0,6.0,6,8.0,10.0,10,44,30.0,74,B
38,022-14-110229,BS(CS),Sadaquat Rafique,9,6.0,6.0,6,5.0,7.0,7,22,17.0,39,F
28,022-14-110387,BS(CS),Muhammad Saqib Intizar,22,6.0,6.0,6,9.0,11.0,11,39,18.0,57,F
42,022-14-110587,BS(CS),Sumbul Rehman,28,5.0,6.0,6,8.0,10.0,10,44,23.0,67,C
29,022-14-110217,BS(CS),Muhammad Shahroz Khurshid,17,7.0,1.0,7,6.0,NaN,6,30,9.0,39,F
22,022-14-110398,BS(CS),Muhammad Abdullah,20,7.0,6.0,7,7.0,NaN,7,34,23.0,57,F
20,022-14-110412,BS(CS),Muhammad Aamir,24,7.0,6.0,7,7.0,9.0,9,40,31.0,71,B
31,022-14-110231,BS(CS),Muhammad Taha Hasnain,27,7.0,5.0,7,10.0,NaN,10,44,29.0,73,B
41,022-14-110225,BS(CS),Shariqa Ahmad,20,7.0,6.0,7,8.0,10.0,10,37,20.0,57,F
44,022-14-110589,BS(CS),Syed Sohaib,25,7.0,5.0,7,9.0,NaN,9,41,22.0,63,C
14,022-14-110389,BS(CS),Hareem Afshan,21,7.0,4.0,7,6.0,8.0,8,36,29.0,65,C
12,022-15-110994,BS(CS),Hafiza Tooba Akbani,23,7.0,5.0,7,8.0,10.0,10,40,33.0,73,B
4,022-14-110648,BS(CS),Ahsan Ali Vohra,27,7.0,6.0,7,7.0,9.0,9,43,34.0,77,B
3,022-14-19718,BS(CS),Ahmed Ali Raza,14,7.0,2.0,7,NaN,2.0,2,23,23.0,46,F
30,022-14-110401,BS(CS),Muhammad Shozab,23,8.0,6.0,8,9.0,NaN,9,40,32.0,72,B
35,022-14-19923,BS(CS),Rabi Ahmed,20,8.0,5.0,8,NaN,10.0,10,38,28.0,66,C
0,022-14-19987,BS(CS),Abdul Basit,28,8.0,3.0,8,7.0,9.0,9,45,25.0,70,B
46,022-14-19911,BS(CS),Usman Khan,25,8.0,5.0,8,8.0,10.0,10,43,22.0,65,C
17,022-14-110396,BS(CS),Khalid Anwer,20,8.0,5.0,8,9.0,11.0,11,39,31.0,70,B
13,022-14-110600,BS(CS),Hamza Abdul Jabbar,24,8.0,4.0,8,8.0,10.0,10,42,25.0,67,C
11,022-14-110591,BS(CS),Habib Ullah,28,8.0,5.0,8,5.0,NaN,5,41,35.0,76,B
27,022-14-110452,BS(CS),Muhammad Osama Khan,27,8.0,6.0,8,8.0,10.0,10,45,26.0,71,B
10,022-14-110214,BS(CS),Fatima Haider Warsi,30,8.0,7.0,8,8.0,NaN,8,46,45.0,91,A
9,022-14-110599,BS(CS),Arsalan,28,8.0,6.0,8,8.0,NaN,8,44,40.0,84,A
25,022-14-110105,BS(CS),Muhammad Faraz,26,9.0,6.0,9,8.0,10.0,10,45,41.0,86,A
45,022-14-110400,BS(CS),Syeda Sabika Raza,27,9.0,6.0,9,9.0,NaN,9,45,35.0,80,A
5,022-14-110232,BS(CS),Ameer Hamza,25,9.0,6.0,9,8.0,10.0,10,44,27.0,71,B
43,022-14-110451,BS(CS),Syed Faizan Uddin,28,9.0,4.0,9,6.0,8.0,8,45,34.0,79,B
7,022-14-110388,BS(CS),Aneebullah Niazi,26,9.0,6.0,9,8.0,10.0,10,45,40.0,85,A
8,022-14-110601,BS(CS),Areesha Sohail,19,9.0,4.0,9,7.0,9.0,9,37,24.0,61,C
37,022-14-110230,BS(CS),Sadaf Nosheen,27,9.0,5.0,9,9.0,NaN,9,45,30.0,75,B
36,022-14-110582,BS(CS),Rida Nasim,25,9.0,5.0,9,9.0,NaN,9,43,27.0,70,B
34,022-14-110413,BS(CS),Nazeer Bin Zafar,25,9.0,6.0,9,8.0,10.0,10,44,42.0,86,A
19,022-14-110222,BS(CS),Mohammad Hunain,27,9.0,6.0,9,8.0,10.0,10,46,45.0,91,A
21,022-14-110593,BS(CS),Muhammad Abdul Rehman Siddiqui,20,9.0,6.0,9,9.0,11.0,11,40,20.0,60,C
40,022-14-110584,BS(CS),Sharif Taqi,27,9.0,6.0,9,8.0,10.0,10,46,35.0,81,A
47,022-14-110219,BS(CS),Waqar Ahmed,11,9.0,5.0,9,5.0,7.0,7,27,19.0,46,F

In [52]:
pd.options.display.max_rows=10

In [56]:
obj = pd.Series(np.random.randn(6)).abs()
obj

0    0.291602
1    1.158793
2    1.268515
3    0.313088
4    0.974719
5    0.633526
dtype: float64

In [58]:
obj.rank(method='first')

0    1.0
1    5.0
2    6.0
3    2.0
4    4.0
5    3.0
dtype: float64

In [59]:
obj1 = pd.Series([4,3,-6.,0,3,6,1])
obj1

0    4.0
1    3.0
2   -6.0
3    0.0
4    3.0
5    6.0
6    1.0
dtype: float64

In [60]:
obj1.rank(method='first')

0    6.0
1    4.0
2    1.0
3    2.0
4    5.0
5    7.0
6    3.0
dtype: float64

In [61]:
obj1.rank()

0    6.0
1    4.5
2    1.0
3    2.0
4    4.5
5    7.0
6    3.0
dtype: float64

In [69]:
arr = np.array([3,5,6,7,8,1,2,9])
np.max(arr)
print("the max value in array is", arr.max())
print(f"the index of the max value is {arr.argmax()}")

the max value in array is 9
the index of the max value is 7

In [63]:
np.min(arr)

1

# Correlation and Covariance

In [12]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
#alldata is a dictionary defined
all_data = {ticker: web.get_data_yahoo(ticker)
 for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [10]:
all_data['AAPL']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-10-27,105.480003,104.699997,104.849998,105.110001,34187700.0,96.448616
2014-10-28,106.739998,105.349998,105.400002,106.739998,48060900.0,97.944298
2014-10-29,107.370003,106.360001,106.650002,107.339996,52687900.0,98.494850
2014-10-30,107.349998,105.900002,106.959999,106.980003,40654800.0,98.164513
2014-10-31,108.040001,107.209999,108.010002,108.000000,44639300.0,99.100471
2014-11-03,110.300003,108.010002,108.220001,109.400002,52282600.0,100.385109
2014-11-04,109.489998,107.720001,109.360001,108.599998,41574400.0,99.651047
2014-11-05,109.300003,108.129997,109.099998,108.860001,37435900.0,99.889618
2014-11-06,108.790001,107.800003,108.599998,108.699997,34968500.0,100.175293
2014-11-07,109.320000,108.550003,108.750000,109.010002,33691500.0,100.460983
2014-11-10,109.330002,108.669998,109.019997,108.830002,27195500.0,100.295105
2014-11-11,109.750000,108.400002,108.699997,109.699997,27442300.0,101.096870
2014-11-12,111.430000,109.370003,109.379997,111.250000,46942400.0,102.525322
2014-11-13,113.449997,111.599998,111.800003,112.820000,59522900.0,103.972198
2014-11-14,114.190002,111.209999,113.150002,114.180000,44063600.0,105.225540
2014-11-17,117.279999,113.300003,114.269997,113.989998,46746700.0,105.050430
2014-11-18,115.690002,113.889999,113.940002,115.470001,44224000.0,106.414368
2014-11-19,115.739998,113.800003,115.440002,114.669998,41869200.0,105.677094
2014-11-20,116.860001,114.849998,114.910004,116.309998,43395500.0,107.188477
2014-11-21,117.570000,116.029999,117.510002,116.470001,57179300.0,107.335945
2014-11-24,118.769997,116.620003,116.849998,118.629997,47450800.0,109.326523
2014-11-25,119.750000,117.449997,119.070000,117.599998,68840400.0,108.377327
2014-11-26,119.099998,117.830002,117.940002,119.000000,40768300.0,109.667534
2014-11-28,119.400002,118.050003,119.269997,118.930000,24814400.0,109.603027
2014-12-01,119.250000,111.269997,118.809998,115.070000,83814000.0,106.045738
2014-12-02,115.750000,112.750000,113.500000,114.629997,59348900.0,105.640228
2014-12-03,116.349998,115.110001,115.750000,115.930000,43063400.0,106.838287
2014-12-04,117.199997,115.290001,115.769997,115.489998,42044500.0,106.432808
2014-12-05,116.080002,114.639999,115.989998,115.000000,38318900.0,105.981209
2014-12-08,114.650002,111.620003,114.099998,112.400002,57664900.0,103.585136
...,...,...,...,...,...,...
2019-09-16,220.130005,217.559998,217.729996,219.899994,21158100.0,219.899994
2019-09-17,220.820007,219.119995,219.960007,220.699997,18318700.0,220.699997
2019-09-18,222.850006,219.440002,221.059998,222.770004,25340000.0,222.770004
2019-09-19,223.759995,220.369995,222.009995,220.960007,22060600.0,220.960007
2019-09-20,222.559998,217.470001,221.380005,217.729996,55413100.0,217.729996
2019-09-23,219.839996,217.649994,218.949997,218.720001,19165500.0,218.720001
2019-09-24,222.490005,217.190002,221.029999,217.679993,31190800.0,217.679993
2019-09-25,221.500000,217.139999,218.550003,221.029999,21903400.0,221.029999
2019-09-26,220.940002,218.830002,220.000000,219.889999,18833500.0,219.889999
2019-09-27,220.960007,217.279999,220.539993,218.820007,25352000.0,218.820007
2019-09-30,224.580002,220.789993,220.899994,223.970001,25977400.0,223.970001
2019-10-01,228.220001,224.199997,225.070007,224.589996,34805800.0,224.589996
2019-10-02,223.580002,217.929993,223.059998,218.960007,34612300.0,218.960007
2019-10-03,220.960007,215.130005,218.429993,220.820007,28606500.0,220.820007
2019-10-04,227.490005,223.889999,225.639999,227.009995,34619700.0,227.009995
2019-10-07,229.929993,225.839996,226.270004,227.059998,30576500.0,227.059998
2019-10-08,228.059998,224.330002,225.820007,224.399994,27955000.0,224.399994
2019-10-09,227.789993,225.639999,227.029999,227.029999,18692600.0,227.029999
2019-10-10,230.440002,227.300003,227.929993,230.089996,28253400.0,230.089996
2019-10-11,237.639999,232.309998,232.949997,236.210007,41698900.0,236.210007
2019-10-14,238.130005,234.669998,234.899994,235.869995,24106900.0,235.869995
2019-10-15,237.649994,234.880005,236.389999,235.320007,21840000.0,235.320007
2019-10-16,235.240005,233.199997,233.369995,234.369995,18475800.0,234.369995
2019-10-17,236.149994,233.520004,235.089996,235.279999,16896300.0,235.279999
2019-10-18,237.580002,234.289993,234.589996,236.410004,24358400.0,236.410004
2019-10-21,240.990005,237.320007,237.520004,240.509995,21811800.0,240.509995
2019-10-22,242.199997,239.619995,241.160004,239.960007,20573400.0,239.960007
2019-10-23,243.240005,241.220001,242.100006,243.179993,18957200.0,243.179993
2019-10-24,244.800003,241.809998,244.509995,243.580002,17318800.0,243.580002
2019-10-25,246.729996,242.880005,243.160004,246.580002,18330500.0,246.580002

In [11]:
price = pd.DataFrame({ticker: data['Adj Close']
 for ticker, data in all_data.items()})
price

                  AAPL         IBM        MSFT         GOOG
Date
2014-10-27   96.448616  131.081451   41.097130   539.289368
2014-10-28   97.944298  132.482391   41.616329   547.397095
2014-10-29   98.494850  132.369003   41.732697   547.825928
2014-10-30   98.164513  133.089706   41.222458   548.803284
2014-10-31   99.100471  133.130219   42.028111   557.549255
2014-11-03  100.385109  133.097809   42.466732   553.699829
2014-11-04   99.651047  131.713089   42.583115   552.592834
2014-11-05   99.889618  131.040939   42.842709   544.425293
2014-11-06  100.175293  131.644287   43.594646   540.555908
2014-11-07  100.460983  132.141617   43.576752   539.528748
2014-11-10  100.295105  133.299408   43.764729   545.990967
2014-11-11  101.096870  133.144485   43.746830   548.783325
2014-11-12  102.525322  132.019318   43.666264   545.811462
2014-11-13  103.972198  132.728683   44.409256   543.886780
2014-11-14  105.225540  133.845688   44.382393   542.909424
2014-11-17  105.050430  133.845688   44.274975   535.041016
2014-11-18  106.414368  131.994904   43.905632   533.565125
2014-11-19  105.677094  131.619797   43.437222   535.519714
2014-11-20  107.188477  130.975677   43.869606   533.365662
2014-11-21  107.335945  131.204025   43.221031   536.028320
2014-11-24  109.326523  132.206879   42.869705   537.793518
2014-11-25  108.377327  131.888885   42.761612   539.598511
2014-11-26  109.667534  132.043823   43.013840   538.890503
2014-11-28  109.603027  132.223190   43.067890   540.346497
2014-12-01  106.045738  131.709473   43.797543   532.338440
2014-12-02  105.640228  132.630859   43.653416   532.288574
2014-12-03  106.838287  134.139236   43.311108   529.865234
2014-12-04  106.432808  133.756027   43.995720   535.838867
2014-12-05  105.981209  133.120071   43.617382   523.821838
2014-12-08  103.585136  131.970459   42.968800   525.537109
...                ...         ...         ...          ...
2019-09-16  219.899994  142.479996  136.330002  1231.300049
2019-09-17  220.699997  142.199997  137.389999  1229.150024
2019-09-18  222.770004  142.220001  138.520004  1232.410034
2019-09-19  220.960007  142.970001  141.070007  1238.709961
2019-09-20  217.729996  141.880005  139.440002  1229.930054
2019-09-23  218.720001  142.070007  139.139999  1234.030029
2019-09-24  217.679993  141.679993  137.380005  1218.760010
2019-09-25  221.029999  143.160004  139.360001  1246.520020
2019-09-26  219.889999  143.550003  139.539993  1241.390015
2019-09-27  218.820007  143.240005  137.729996  1225.089966
2019-09-30  223.970001  145.419998  139.029999  1219.000000
2019-10-01  224.589996  143.660004  137.070007  1205.099976
2019-10-02  218.960007  141.690002  134.649994  1176.630005
2019-10-03  220.820007  142.020004  136.279999  1187.829956
2019-10-04  227.009995  142.990005  138.119995  1209.000000
2019-10-07  227.059998  141.279999  137.119995  1207.680054
2019-10-08  224.399994  138.380005  135.669998  1189.130005
2019-10-09  227.029999  139.669998  138.240005  1202.310059
2019-10-10  230.089996  141.130005  139.100006  1208.670044
2019-10-11  236.210007  142.759995  139.679993  1215.449951
2019-10-14  235.869995  142.039993  139.550003  1217.140015
2019-10-15  235.320007  143.000000  141.570007  1243.010010
2019-10-16  234.369995  142.110001  140.410004  1243.640015
2019-10-17  235.279999  134.259995  139.690002  1253.069946
2019-10-18  236.410004  134.089996  137.410004  1245.489990
2019-10-21  240.509995  132.580002  138.429993  1246.150024
2019-10-22  239.960007  133.960007  136.369995  1242.800049
2019-10-23  243.179993  134.380005  137.240005  1259.130005
2019-10-24  243.580002  134.070007  139.940002  1260.989990
2019-10-25  246.580002  135.440002  140.729996  1265.130005

[1259 rows x 4 columns]

In [13]:
volume = pd.DataFrame({ticker: data['Volume']
 for ticker, data in all_data.items()})
volume

                  AAPL         IBM        MSFT       GOOG
Date
2014-10-27  34187700.0   4989100.0  30371300.0  1185300.0
2014-10-28  48060900.0   7895300.0  29049800.0  1270900.0
2014-10-29  52687900.0   4739300.0  30276100.0  1770500.0
2014-10-30  40654800.0   3896000.0  30073900.0  1455600.0
2014-10-31  44639300.0   5818000.0  35849700.0  2035000.0
2014-11-03  52282600.0   4688200.0  23130400.0  1382200.0
2014-11-04  41574400.0   4246900.0  21530800.0  1244200.0
2014-11-05  37435900.0   4104700.0  22449600.0  2032200.0
2014-11-06  34968500.0   4067600.0  33037800.0  1333200.0
2014-11-07  33691500.0   3494800.0  28000600.0  1633700.0
2014-11-10  27195500.0   4958200.0  36370100.0  1134600.0
2014-11-11  27442300.0   3534400.0  23445200.0   965500.0
2014-11-12  46942400.0   3378200.0  22722100.0  1129600.0
2014-11-13  59522900.0   3239700.0  26210400.0  1339300.0
2014-11-14  44063600.0   4978400.0  29081700.0  1289500.0
2014-11-17  46746700.0   4798900.0  30318600.0  1726000.0
2014-11-18  44224000.0   5410100.0  23995500.0  1962600.0
2014-11-19  41869200.0   3802600.0  26177500.0  1392200.0
2014-11-20  43395500.0   4183100.0  21510600.0  1563300.0
2014-11-21  57179300.0   4076900.0  42884800.0  2224200.0
2014-11-24  47450800.0   6619000.0  35434200.0  1706300.0
2014-11-25  68840400.0   4062400.0  28008000.0  1789900.0
2014-11-26  40768300.0   3966000.0  27163600.0  1522900.0
2014-11-28  24814400.0   2405500.0  21534400.0  1148300.0
2014-12-01  83814000.0   4168400.0  31191600.0  2115300.0
2014-12-02  59348900.0   3465700.0  25773500.0  1526600.0
2014-12-03  43063400.0   6429100.0  23534800.0  1277900.0
2014-12-04  42044500.0   3859400.0  30320400.0  1392100.0
2014-12-05  38318900.0   3013500.0  27313400.0  2565600.0
2014-12-08  57664900.0   2851000.0  26663100.0  2329300.0
...                ...         ...         ...        ...
2019-09-16  21158100.0   1928500.0  16731400.0  1053300.0
2019-09-17  18318700.0   2933200.0  17814200.0   955100.0
2019-09-18  25340000.0   1983600.0  23982100.0  1135100.0
2019-09-19  22060600.0   3089900.0  35772100.0   996000.0
2019-09-20  55413100.0   5193400.0  39167300.0  2270000.0
2019-09-23  19165500.0   1817900.0  17139300.0  1062400.0
2019-09-24  31190800.0   3231600.0  29773200.0  1583200.0
2019-09-25  21903400.0   2526700.0  21382000.0  1453000.0
2019-09-26  18833500.0   2309800.0  17456600.0  1538000.0
2019-09-27  25352000.0   2356800.0  22477700.0  1353900.0
2019-09-30  25977400.0   3988400.0  17280900.0  1404100.0
2019-10-01  34805800.0   2960800.0  21466600.0  1273500.0
2019-10-02  34612300.0   3340800.0  30521700.0  1615100.0
2019-10-03  28606500.0   2928800.0  24132900.0  1621200.0
2019-10-04  34619700.0   2413600.0  22897700.0  1162400.0
2019-10-07  30576500.0   2426500.0  15303700.0   842900.0
2019-10-08  27955000.0   3225400.0  25550500.0  1039300.0
2019-10-09  18692600.0   2620800.0  19749900.0   867700.0
2019-10-10  28253400.0   2593700.0  17654600.0   846600.0
2019-10-11  41698900.0   2996800.0  25446000.0  1272700.0
2019-10-14  24106900.0   2309500.0  13304300.0   867500.0
2019-10-15  21840000.0   3025500.0  19695700.0  1381700.0
2019-10-16  18475800.0   5332600.0  20751600.0  1094600.0
2019-10-17  16896300.0  15759800.0  21460600.0   952400.0
2019-10-18  24358400.0   7177500.0  32273500.0  1352800.0
2019-10-21  21811800.0   6306100.0  20078200.0  1027200.0
2019-10-22  20573400.0   4161600.0  27431000.0  1023800.0
2019-10-23  18957200.0   3610900.0  29844600.0   911500.0
2019-10-24  17318800.0   2598500.0  37029300.0  1028100.0
2019-10-25  18330500.0   2578000.0  25274600.0  1210100.0

[1259 rows x 4 columns]

In [15]:
returns = price.pct_change()            #percentage change
returns

                AAPL       IBM      MSFT      GOOG
Date
2014-10-27       NaN       NaN       NaN       NaN
2014-10-28  0.015508  0.010688  0.012633  0.015034
2014-10-29  0.005621 -0.000856  0.002796  0.000783
2014-10-30 -0.003354  0.005445 -0.012226  0.001784
2014-10-31  0.009535  0.000304  0.019544  0.015936
2014-11-03  0.012963 -0.000243  0.010436 -0.006904
2014-11-04 -0.007312 -0.010404  0.002741 -0.001999
2014-11-05  0.002394 -0.005103  0.006096 -0.014780
2014-11-06  0.002860  0.004604  0.017551 -0.007107
2014-11-07  0.002852  0.003778 -0.000410 -0.001900
2014-11-10 -0.001651  0.008762  0.004314  0.011978
2014-11-11  0.007994 -0.001162 -0.000409  0.005114
2014-11-12  0.014130 -0.008451 -0.001842 -0.005415
2014-11-13  0.014112  0.005373  0.017015 -0.003526
2014-11-14  0.012055  0.008416 -0.000605 -0.001797
2014-11-17 -0.001664  0.000000 -0.002420 -0.014493
2014-11-18  0.012984 -0.013828 -0.008342 -0.002758
2014-11-19 -0.006928 -0.002842 -0.010669  0.003663
2014-11-20  0.014302 -0.004894  0.009954 -0.004022
2014-11-21  0.001376  0.001743 -0.014784  0.004992
2014-11-24  0.018545  0.007643 -0.008129  0.003293
2014-11-25 -0.008682 -0.002405 -0.002521  0.003356
2014-11-26  0.011905  0.001175  0.005898 -0.001312
2014-11-28 -0.000588  0.001358  0.001257  0.002702
2014-12-01 -0.032456 -0.003885  0.016942 -0.014820
2014-12-02 -0.003824  0.006996 -0.003291 -0.000094
2014-12-03  0.011341  0.011373 -0.007841 -0.004553
2014-12-04 -0.003795 -0.002857  0.015807  0.011274
2014-12-05 -0.004243 -0.004755 -0.008599 -0.022427
2014-12-08 -0.022608 -0.008636 -0.014870  0.003275
...              ...       ...       ...       ...
2019-09-16  0.005257 -0.008283 -0.007209 -0.006664
2019-09-17  0.003638 -0.001965  0.007775 -0.001746
2019-09-18  0.009379  0.000141  0.008225  0.002652
2019-09-19 -0.008125  0.005274  0.018409  0.005112
2019-09-20 -0.014618 -0.007624 -0.011555 -0.007088
2019-09-23  0.004547  0.001339 -0.002151  0.003334
2019-09-24 -0.004755 -0.002745 -0.012649 -0.012374
2019-09-25  0.015390  0.010446  0.014413  0.022777
2019-09-26 -0.005158  0.002724  0.001292 -0.004115
2019-09-27 -0.004866 -0.002160 -0.012971 -0.013130
2019-09-30  0.023535  0.015219  0.009439 -0.004971
2019-10-01  0.002768 -0.012103 -0.014098 -0.011403
2019-10-02 -0.025068 -0.013713 -0.017655 -0.023625
2019-10-03  0.008495  0.002329  0.012105  0.009519
2019-10-04  0.028032  0.006830  0.013502  0.017822
2019-10-07  0.000220 -0.011959 -0.007240 -0.001092
2019-10-08 -0.011715 -0.020527 -0.010575 -0.015360
2019-10-09  0.011720  0.009322  0.018943  0.011084
2019-10-10  0.013478  0.010453  0.006221  0.005290
2019-10-11  0.026598  0.011550  0.004170  0.005609
2019-10-14 -0.001439 -0.005043 -0.000931  0.001390
2019-10-15 -0.002332  0.006759  0.014475  0.021255
2019-10-16 -0.004037 -0.006224 -0.008194  0.000507
2019-10-17  0.003883 -0.055239 -0.005128  0.007583
2019-10-18  0.004803 -0.001266 -0.016322 -0.006049
2019-10-21  0.017343 -0.011261  0.007423  0.000530
2019-10-22 -0.002287  0.010409 -0.014881 -0.002688
2019-10-23  0.013419  0.003135  0.006380  0.013140
2019-10-24  0.001645 -0.002307  0.019674  0.001477
2019-10-25  0.012316  0.010219  0.005645  0.003283

[1259 rows x 4 columns]

In [16]:
returns['MSFT'].corr(returns['IBM'])

0.4859044237050968

In [17]:
returns['MSFT'].cov(returns['IBM'])

9.367689618560126e-05

In [18]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000246  0.000083  0.000133  0.000124
IBM   0.000083  0.000170  0.000094  0.000082
MSFT  0.000133  0.000094  0.000219  0.000147
GOOG  0.000124  0.000082  0.000147  0.000230

In [19]:
returns.corrwith(returns.IBM)

AAPL    0.405686
IBM     1.000000
MSFT    0.485904
GOOG    0.412926
dtype: float64